/* ==============header============= */
header {
    width: 100%;
    height: 59.6px;

}
.site-header {
    font-weight: 600;
}
.site-header {
    font-family: Cabin,sans-serif;
    font-weight: 400;
    font-style: normal;
    right: 0;
    padding: 0 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: white;
    color: #1b1c1c;
    border-bottom: 0px solid #ededed;
    z-index: 999;
    font-weight: 700;
    transition: right .5s cubic-bezier(.25,.46,.45,.94);
    top: 0;
    position: fixed;
    align-items: center;
    width: 100%;
}
.header-container {
    position: fixed;
    z-index: 999;
    top: 0px;

    width: 100%;
    height: 58px;

    background-color: #ffffff;
}
.site-header.desktop-view--classic {
    padding: 5px 10px;
}
.site-header.desktop-view--classic {
    z-index: 999;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 10px;

    width: 100%;
    height: 58px;
}

.header-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_container {
    width: 323px;
}

.site-nav-menu {
    display: flex;
    align-items: center;

    height: 58px;
}

.site-nav-menu>div {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.site-nav-menu>div>a {
    padding: 0 23px;

    font-size: 1.1rem;
    font-weight: 400;
}

.menu-product {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* header-logo */
.logo-container {
    margin-left: -118px;

    width: 120px;
    height: 28px;

    margin-left: 20px;
}

.logo-container>a>img {
    width: 100%;
    height: 100%;
}


/* right-menu */
.header-right-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.site-header-button {
    margin: 0 0 0 20px;
    padding: 0;
    width: auto;
    height: 19px;

    font-weight: 500;

    background-color: #ffffff;
}

.basket-button {
    position: relative;
}

.basket-count {
    line-height: 1;
    position: absolute;
    top: -0.4rem;
    right: -1rem;
    font-size: 0.65rem;
    width: 14px;
    height: 14px;
    background-color: #777;
    color: #ffffff;
    border-radius: 50%;
    padding-top: 1.5px;
}


/* sub */
nav {
    position: absolute;

    top: 58px;
    left: 0;

    width: 100%;
    height: 323px;

    padding: 70px 0 70px 0;

    z-index: 998;

    background-color: #ffffff;
}

.nav-invisible {
    display: none;
}

.site-nav-mega {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    font-size: 18px;
}

.site-nav-mega>a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    width: 25%;
    height: 80px;
}

.site-nav-mega2>a {
    height: 99px;
}

/* 서브메뉴 카테고리 이미지 */
.site-nav-mega span {
    width: 120px;
    height: 80px;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.metal-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.acetate-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.combination-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.refined-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.vintage-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.sunglasses-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.acc-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.image-display {
    display: none;
}

/* 나머지 화면 어둡게 */
.overlay {
    display: none;
    z-index: 990;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
}
/* .header-container {
    width: 100%;
    padding: 5px 10px 5px 10px;
    z-index: 999;
    background-color: aqua;

    display: flex;
    justify-content: center;
    align-items: center;
} */
.site-header.fix.animate {
    transform: translateY(0);
}
.site-header.fix.ready {
    transition: right .5s cubic-bezier(.25,.46,.45,.94),transform .1s linear;
}
section {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.content-container li {
    width: 25%;
}


.contents {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 60px;
    height: 100%;
    min-height: 800px;
    padding-bottom: 0px;
}
/* element.style {
    position: fixed !important;
}
.site-header.fix.animate {
    transform: translateY(0);
}
.site-header.fix.ready {
    transition: right .5s cubic-bezier(.25,.46,.45,.94),transform .1s linear;
}
.site-header.desktop-view--classic {
    padding: 5px 10px;
}
.site-header.desktop-view--classic {
    z-index: 999;
}
.site-header {
    font-weight: 600;
}
.site-header {
    font-family: Cabin,sans-serif;
    font-weight: 400;
    font-style: normal;
    right: 0;
    padding: 0 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: white;
    color: #1b1c1c;
    border-bottom: 0px solid #ededed;
    z-index: 999;
    font-weight: 700;
    transition: right .5s cubic-bezier(.25,.46,.45,.94);
    top: 0;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: aqua;
} */
/* ==============header-left============= */
/* .site-nav.style--classic {
    display: flex;
    margin-right: -10px;
}
.site-nav {
    font-family: Cabin,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1b1c1c;
}
header.site-header div.site-nav-container {
    margin-right: 25px;
}
.site-header .site-nav-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
} */

.journal-masonry {
    opacity: 0;
    transition: opacity 0.7s;
    padding: 0 8px;
}
/* ==============첫번째 사진============= */
.journal-item:nth-child(4n-2), .journal-item:nth-child(4n-1) {
    padding: 0 4px;
}
.journal-masonry {opacity:0; transition:opacity 0.7s; padding:0 8px;}
.journal-item {float:left; width:calc(25% - 4px);}
.journal-item:nth-child(4n-3) {padding-right:4px;}
.journal-item:nth-child(4n-2),
.journal-item:nth-child(4n-1) {padding:0 4px;}
.journal-item:nth-child(4n) {padding-left:4px;}

.journal-item img {border-radius:6px;}

.journal-item .description {padding:0 0.5rem}
.journal-item .name {display:block; line-height:1; text-align:left; padding:3rem 0 1.5rem 0; font-family:"Nimbus Sans Cond L", "Nimbus Sans L"; font-weight:bold; letter-spacing:-1px;}
.journal-item .name span {font-size:1.5rem!important;}
.journal-item p {margin-bottom:3rem; font-size:0.9rem;}
.journal-item .description > a {display:block; margin-bottom:6rem; font-weight:400; font-family:"Nimbus Sans Cond L", "Nimbus Sans L"; letter-spacing:-1px;}

.journal-item xans-record-1 {
    position: absolute;
     left: 8px;
      top: 0px;
}
.journal-item xans-record-2 {
    position: absolute;
     left: 341.25x;
      top: 0px;
}
.journal-item xans-record-3 {
    position: absolute;
     left: 951.5px;
      top: 0px;
}

/* .journal-item:nth-child(4n-3) {
    padding-right: 4px;
}
.journal-item {
    float: left;
    width: calc(25% - 4px);
}
.journal-item img {
    border-radius: 6px;
}
.journal-item .description {
    padding: 0 0.5rem;
}
.journal-item .name {
    display: block;
    line-height: 1;
    text-align: left;
    padding: 3rem 0 1.5rem 0;
    font-family: "Nimbus Sans Cond L", "Nimbus Sans L";
    font-weight: bold;
    letter-spacing: -1px;
}
.journal-item p {
    margin-bottom: 3rem;
    font-size: 0.9rem;
}
.journal-item .description > a {
    display: block;
    margin-bottom: 6rem;
    font-weight: 400;
    font-family: "Nimbus Sans Cond L", "Nimbus Sans L";
    letter-spacing: -1px;
}
.journal-item .name span {
    font-size: 1.5rem!important;
}
*, input, :before, :after {
    box-sizing: border-box;
}
