<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shopping Basket</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/shop_basket/MyShoppingBasket.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="overlay"></div>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <div class="site-nav-parent">
                                <a href="" class="menu-product">제품</a>
                            </div>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="/products/all">전체</a>
                                    <a href=""><span class="metal-button">메탈</span>
                                        <img src="/static/images/Logo_img/catemetal.jpg"
                                            class="metal-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acetate-button">아세테이트</span>
                                        <img src="/static/images/Logo_img/cateacetate.jpg"
                                            class="acetate-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="combination-button">콤비네이션</span>
                                        <img src="/static/images/Logo_img/cateCombination.jpg"
                                            class="combination-image image-display" alt="">
                                    </a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href=""><span class="refined-button">리파인드</span>
                                        <img src="/static/images/Logo_img/cateRefined.jpg"
                                            class="refined-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="vintage-button">빈티지</span>
                                        <img src="/static/images/Logo_img/cateVintage.jpg"
                                            class="vintage-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="sunglasses-button">선글라스</span>
                                        <img src="/static/images/Logo_img/cateSunglasses.jpg"
                                            class="sunglasses-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acc-button">Acc</span>
                                        <img src="/static/images/Logo_img/cateAcc.jpg" class="acc-image image-display"
                                            alt="">
                                    </a>
                                </div>
                            </nav>
                            <div><a href="/campaign" class="">캠페인</a></div>
                            <div><a href="/journal" class="">저널</a></div>
                            <div><a href="/brand" class="">브랜드</a></div>
                        </div>
                    </div>
                </div>
                <!-- 로고 -->
                <div class="logo-container">
                    <a href="/index"><img src="/static/images/Logo_img/lash_logo.png" alt=""></a>
                </div>
                <div class="header-right-container">
                    <!-- search -->
                    <div class="search-box">
                        <form action="." method="get">
                            <input class="search-text search-display" type="text" placeholder="">
                            <span class="search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </span>
                        </form>
                    </div>
                    <button class="site-header-button">
                        <a href="/account/mypage">My page</a> 
                    </button>
                    <button class="site-header-button"><a href="/account/login">Log in</a></button>
                    <button class="site-header-button basket-button"><a
                            href="/shopping-basket">My Shopping Basket</a>
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- contents -->
    <div id="contents">
        <div class="basket-package">
            <div class="info-container">
                <div class="information">
                    <div class="title">혜택정보</div>
                    <div class="description">
                        <div class="member">
                            <p>문창배 님은, [일반회원] 회원이십니다.</p>
                        </div>
                        <div class="mileage">
                            <p>가용적립금 : 0원</p>
                            <p>쿠폰 : 1개</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-title">
                <h3 class="cart-title-text">Shopping Cart</h3>
            </div>
            <div class="cart-list">
                <table class="product-table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="none"></th>
                            <td class="cart-image">
                                <a href="">
                                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg"
                                        alt="" style="width: 80px; height: 90px; border-radius: 5px;">
                                </a>
                            </td>
                            <td class="cart-info">
                                <strong style="font-size:16px; font-weight:500; color:#000;">
                                    <a href="">
                                        HUNTER C1
                                    </a>
                                </strong>
                                <div style="margin-top: 10px;">
                                    <strong style="font-size:14px; font-weight:400; color:#000;">KRW 245,000</strong>
                                </div>
                            </td>
                            <td class="cart-count">
                                <span>
                                    <span>
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                        <input type="text" size="2" value="1">
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                    </span>
                                </span>
                            </td>
                            <td class="cart-delete" align="right">
                                <a href="">
                                    <img src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png"
                                        alt="" style="width: 17px;height: 17px;">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="none"></th>
                            <td class="cart-image">
                                <a href="">
                                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg"
                                        alt="" style="width: 80px; height: 90px; border-radius: 5px;">
                                </a>
                            </td>
                            <td class="cart-info">
                                <strong style="font-size:16px; font-weight:500; color:#000;">
                                    <a href="">
                                        HUNTER C1
                                    </a>
                                </strong>
                                <div style="margin-top: 10px;">
                                    <strong style="font-size:14px; font-weight:400; color:#000;">KRW 245,000</strong>
                                </div>
                            </td>
                            <td class="cart-count">
                                <span>
                                    <span>
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                        <input type="text" size="2" value="1">
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                    </span>
                                </span>
                            </td>
                            <td class="cart-delete" align="right">
                                <a href="">
                                    <img src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png"
                                        alt="" style="width: 17px;height: 17px;">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="none"></th>
                            <td class="cart-image">
                                <a href="">
                                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg"
                                        alt="" style="width: 80px; height: 90px; border-radius: 5px;">
                                </a>
                            </td>
                            <td class="cart-info">
                                <strong style="font-size:16px; font-weight:500; color:#000;">
                                    <a href="">
                                        HUNTER C1
                                    </a>
                                </strong>
                                <div style="margin-top: 10px;">
                                    <strong style="font-size:14px; font-weight:400; color:#000;">KRW 245,000</strong>
                                </div>
                            </td>
                            <td class="cart-count">
                                <span>
                                    <span>
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                        <input type="text" size="2" value="1">
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                    </span>
                                </span>
                            </td>
                            <td class="cart-delete" align="right">
                                <a href="">
                                    <img src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png"
                                        alt="" style="width: 17px;height: 17px;">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="none"></th>
                            <td class="cart-image">
                                <a href="">
                                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg"
                                        alt="" style="width: 80px; height: 90px; border-radius: 5px;">
                                </a>
                            </td>
                            <td class="cart-info">
                                <strong style="font-size:16px; font-weight:500; color:#000;">
                                    <a href="">
                                        HUNTER C1
                                    </a>
                                </strong>
                                <div style="margin-top: 10px;">
                                    <strong style="font-size:14px; font-weight:400; color:#000;">KRW 245,000</strong>
                                </div>
                            </td>
                            <td class="cart-count">
                                <span>
                                    <span>
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                        <input type="text" size="2" value="1">
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                    </span>
                                </span>
                            </td>
                            <td class="cart-delete" align="right">
                                <a href="">
                                    <img src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png"
                                        alt="" style="width: 17px;height: 17px;">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="none"></th>
                            <td class="cart-image">
                                <a href="">
                                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg"
                                        alt="" style="width: 80px; height: 90px; border-radius: 5px;">
                                </a>
                            </td>
                            <td class="cart-info">
                                <strong style="font-size:16px; font-weight:500; color:#000;">
                                    <a href="">
                                        HUNTER C1
                                    </a>
                                </strong>
                                <div style="margin-top: 10px;">
                                    <strong style="font-size:14px; font-weight:400; color:#000;">KRW 245,000</strong>
                                </div>
                            </td>
                            <td class="cart-count">
                                <span>
                                    <span class="cart-count-box">
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                        <input type="text" size="2" value="1">
                                        <a href="">
                                            <img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                                alt="" style="width: 33px; height: 29px;">
                                        </a>
                                    </span>
                                </span>
                            </td>
                            <td class="cart-delete" align="right">
                                <a href="">
                                    <img src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png"
                                        alt="" style="width: 17px;height: 17px;">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="total">
                <div class="total-text">Total</div>
                <div class="total-price">KRW <span>1,225,000</span></div>
            </div>
            <div class="checkout-box">
                <a href="/templates/shop_basket/pay.html" class="checkout-button">CHECK&nbsp;OUT</a>
            </div>
        </div>
    </div>
    <script src="/static/js/header.js"></script>
</body>

</html>