<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myshop</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/static/js/page_main/js/jquery-1.10.1.min.js" type="text/javascript"></SCRIPT>
        <script src="/static/js/page_main/js/jquery.nicescroll.min.js" type="text/javascript"></SCRIPT>
    <link rel="shortcut icon" href="/static/images/Brand_img/favicon_img.ico">
    <link rel="stylesheet" href="/static/css/mypage/Myshop.css">
    <link rel="stylesheet" href="/static/css/mypage/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/page_main/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
</head>
<body>
    <div class="overlay"></div>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <div class="site-nav-parent">
                                <a href="" class="menu-product">제품</a>
                            </div>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="/products/all">전체</a>
                                    <a href=""><span class="metal-button">메탈</span>
                                        <img src="/static/images/Logo_img/catemetal.jpg"
                                            class="metal-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acetate-button">아세테이트</span>
                                        <img src="/static/images/Logo_img/cateacetate.jpg"
                                            class="acetate-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="combination-button">콤비네이션</span>
                                        <img src="/static/images/Logo_img/cateCombination.jpg"
                                            class="combination-image image-display" alt="">
                                    </a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href=""><span class="refined-button">리파인드</span>
                                        <img src="/static/images/Logo_img/cateRefined.jpg"
                                            class="refined-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="vintage-button">빈티지</span>
                                        <img src="/static/images/Logo_img/cateVintage.jpg"
                                            class="vintage-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="sunglasses-button">선글라스</span>
                                        <img src="/static/images/Logo_img/cateSunglasses.jpg"
                                            class="sunglasses-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acc-button">Acc</span>
                                        <img src="/static/images/Logo_img/cateAcc.jpg" class="acc-image image-display"
                                            alt="">
                                    </a>
                                </div>
                            </nav>
                            <div><a href="/campaign" class="">캠페인</a></div>
                            <div><a href="/journal" class="">저널</a></div>
                            <div><a href="/brand" class="">브랜드</a></div>
                        </div>
                    </div>
                </div>
                <!-- 로고 -->
                <div class="logo-container">
                    <a href="/index"><img src="/static/images/Logo_img/lash_logo.png" alt=""></a>
                </div>
                <div class="header-right-container">
                    <!-- search -->
                    <div class="search-box">
                        <form action="." method="get">
                            <input class="search-text search-display" type="text" placeholder="">
                            <span class="search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </span>
                        </form>
                    </div>
                    <button class="site-header-button">
                        <a href="/account/mypage">My page</a> 
                    </button>
                    <button class="site-header-button"><a href="/account/login">Log in</a></button>
                    <button class="site-header-button basket-button"><a
                            href="/shopping-basket">My Shopping Basket</a>
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="contents">
        <div class="titleArea">
            <h2>My Shopping</h2>
        </div>
        <ul class="sideMenu">
            <h2 style="margin-top:0px;">Account</h2>
            <li><a href="/templates/mypage/Myshop.html">마이쇼핑</a></li>
            <li><a href="/templates/mypage/order.html">주문내역조회</a></li>
            <li><a href="/templates/mypage/user_info_editor.html">회원정보관리</a></li>
            <li><a href="">게시물관리</a></li>
            <li><a href="/templates/mypage/shipping_address_book.html">배송주소록</a></li>
        </ul>     
        <div class="myshopping">
            <div class="myshop-asyncbenefit">
                <div class="memberMent">
                    <p class="welcome">
                        <span class="member-var-name">최준호</span> 고객님, 환영합니다. <br>
                    </p>
                    <p class="grade">회원 님은 
                        <strong>
                            [<span class="member-group_name">일반회원</span>]
                        </strong>
                         회원이십니다.
                    </p>
                </div>
            </div>
            <div class="xanselement - xans-myshop xans-myshop-orderstate">
                <div class="title">
                    <h3>
                        나의 주문처리 현황
                        <span class="desc">
                            (최근
                            <em>3개월</em>
                            기준)
                        </span>
                    </h3>
                </div>
                <div class="state">
                    <ul class="order">
                        <li>
                            <strong>입금전</strong>
                            <a href="" class="count"><span id="xans_myshop_orderstate_shppied_before_count">0</span></a>
                            
                        </li>
                        <li>
                            <strong>배송준비중</strong>
                            <a href="" class="count"><span id="xans_myshop_orderstate_shppied_before_count">0</span></a>
                        </li>
                        <li>
                            <strong>배송중</strong>
                            <a href="" class="count"><span id="xans_myshop_orderstate_shppied_before_count">0</span></a>
                        </li>
                        <li>
                            <strong>배송완료</strong>
                            <a href="" class="count"><span id="xans_myshop_orderstate_shppied_before_count">0</span></a>
                        </li>
                    </ul>
                    <ul class="cs">
                        <li>
                            <span class="icoDot"></span>
                            <strong>취소 : </strong>
                            <a href="" class="count">
                                <span id="xans_myshop_orderstate_order_cancel_count">0</span>
                            </a>
                        </li>
                        <li>
                            <span class="icoDot"></span>
                            <strong>교환 : </strong>
                            <a href="" class="count">
                                <span id="xans_myshop_orderstate_order_exchange_count">0</span>
                            </a>
                        </li>
                        <li>
                            <span class="icoDot"></span>
                            <strong>반품 : </strong>
                            <a href="" class="count">
                                <span id="xans_myshop_orderstate_order_return_count">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="xans-element- xans-myshop xans-myshop-asyncbankbook">
                <ul>
                    <li class=" ">
                        <p class="title">가용적립금</p>
                        <p class="data use">&nbsp;<span id="xans_myshop_bankbook_avail_mileage">0원</span></p>
                        <a href="/myshop/mileage/historyList.html" class="btnType-2">조회</a>
                    </li>
                    <li class="">
                        <p class="title">총적립금</p>
                        <p class="data"><span id="xans_myshop_bankbook_total_mileage">0원</span></p>
                    </li>
                    <li class="">
                        <p class="title">사용적립금</p>
                        <p class="data"><span id="xans_myshop_bankbook_used_mileage">0원</span></p>
                    </li>
                    <!-- <li class="displaynone">
                        <p class="title"></p>
                        <p class="data use">&nbsp;</p>
                        <a href="/myshop/deposits/historyList.html" class="button"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_result.gif" alt="조회"></a>
                    </li> -->
                    <li class="total">
                        <p class="title">총주문</p>
                        <p class="data"><span id="xans_myshop_bankbook_order_price">KRW 0</span>(<span id="xans_myshop_bankbook_order_count">0</span>회)</p>
                    </li>
                    <!-- <li class="">
                        <p class="title">쿠폰</p>
                        <p class="data"><span id="xans_myshop_bankbook_coupon_cnt">1</span><span>개</span></p>
                        <a href="/myshop/coupon/coupon.html" class="btnType-2">조회</a>
                    </li> -->
                </ul>
                
            </div>
        </div>

    </div>
    <script src="/static/js/header.js"></script>
</body>
</html>