<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shopping Basket</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/MyShoppingBasket.css">
</head>

<body>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <a href="" class="site-nav-parent">PRODUCT</a>
                            <a href="" class="">CAMPAIGN</a>
                            <a href="" class="">JOURNAL</a>
                            <a href="/templates/brand.html" class="">BRAND</a>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <img src="/static/images/Logo_img/lash_logo.png" alt="">
                </div>
                <div class="header-right-container">
                    <button class="site-header-button">SEARCH</button>
                    <button class="site-header-button">My page</button>
                    <button class="site-header-button">Log in</button>
                    <button class="site-header-button basket-button">My Shopping Basket
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="nav-invisible">
            <div class="site-nav-mega">
                <a href="">All</a>
                <a href="">Metal</a>
                <a href="">Acetate</a>
                <a href="">Combination</a>
            </div>
            <div class="site-nav-mega site-nav-mega2">
                <a href="">Refined</a>
                <a href="">Vintage</a>
                <a href="">Sunglasses</a>
                <a href="">Acc</a>
            </div>
        </nav>
    </header>
    <div id="contents">
        <div class="basket-package">
            <div class="info-container">
                <div class="information">
                    <div class="title">혜택정보</div>
                    <div class="description">
                        <div class="member">
                            <p>문창배 님은, [일반회원] 회원이십니다.</p>
                        </div>
                        <div class="mileage">
                            <p>가용적립금 : </p>
                            <p>쿠폰 : </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-title">
                <h3 class="cart-title-text">Shopping Cart</h3>
            </div>
            <div class="order-list">
                <div class="product-list">
                    <div style="width:187px; height:107px"></div>
                    <div class="product-img"><img src="/static/images/product_img/Acetate_img/Acetate_Bach_C1.jpg"
                            alt=""></div>
                    <div class="product-info">
                        <div class="product-name">LARCH C1</div>
                        <div class="product-price">KRW 235,000</div>
                    </div>
                    <div class="product-count">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                alt=""></a>
                        <input type="text" value="1">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                alt=""></a>
                    </div>
                    <div class="product-delete"><img
                            src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png" alt=""></div>
                </div>
                <div class="product-list">
                    <div style="width:187px; height:107px"></div>
                    <div class="product-img"><img src="/static/images/product_img/Acetate_img/Acetate_Bach_C1.jpg"
                            alt=""></div>
                    <div class="product-info">
                        <div class="product-name">LARCH C1</div>
                        <div class="product-price">KRW 235,000</div>
                    </div>
                    <div class="product-count">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                alt=""></a>
                        <input type="text" value="1">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                alt=""></a>
                    </div>
                    <div class="product-delete"><img
                            src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png" alt=""></div>
                </div>
                <div class="product-list">
                    <div style="width:187px; height:107px"></div>
                    <div class="product-img"><img src="/static/images/product_img/Acetate_img/Acetate_Bach_C1.jpg"
                            alt=""></div>
                    <div class="product-info">
                        <div class="product-name">LARCH C1</div>
                        <div class="product-price">KRW 235,000</div>
                    </div>
                    <div class="product-count">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                alt=""></a>
                        <input type="text" value="1">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                alt=""></a>
                    </div>
                    <div class="product-delete"><img
                            src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png" alt=""></div>
                </div>
                <div class="product-list">
                    <div style="width:187px; height:107px"></div>
                    <div class="product-img"><img src="/static/images/product_img/Acetate_img/Acetate_Bach_C1.jpg"
                            alt=""></div>
                    <div class="product-info">
                        <div class="product-name">LARCH C1</div>
                        <div class="product-price">KRW 235,000</div>
                    </div>
                    <div class="product-count">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                alt=""></a>
                        <input type="text" value="1">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                alt=""></a>
                    </div>
                    <div class="product-delete"><img
                            src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png" alt=""></div>
                </div>
                <div class="product-list">
                    <div style="width:187px; height:107px"></div>
                    <div class="product-img"><img src="/static/images/product_img/Acetate_img/Acetate_Bach_C1.jpg"
                            alt=""></div>
                    <div class="product-info">
                        <div class="product-name">LARCH C1</div>
                        <div class="product-price">KRW 235,000</div>
                    </div>
                    <div class="product-count">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_down1.png"
                                alt=""></a>
                        <input type="text" value="1">
                        <a href=""><img src="https://lash1.cafe24.com/web/upload/free_design/ico_quantity_up1.png"
                                alt=""></a>
                    </div>
                    <div class="product-delete"><img
                            src="https://lash1.cafe24.com/web/upload/free_design/ico_close_black.png" alt=""></div>
                </div>
            </div>
            <div class="total">
                <div class="total-text">Total</div>
                <div class="total-price">KRW <span>940,000</span></div>
            </div>
            <div class="checkout-box">
                <button>CHECK OUT</button>
            </div>
        </div>
    </div>
    <script src="/static/js/header.js"></script>
</body>

</html>