* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
a {
    text-decoration: none;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
section {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.content-container li {
    width: 25%;
}
.contents {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    min-height: 800px;
    margin-top: 60px;
    padding-bottom: 0px;

}

.titleArea {
    width: 100%;

    float: left;
    margin-bottom: 20px;
    text-align: center;
}

.titleArea h2 {  
    
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
}



/*---------------------------사이드바--------------------------------------------------------------------*/
.sideMenu {position:fixed; top:135px; left:5%; width:10%; float:Left; background:none; }
.sideMenu h2 {font-size:19px; font-weight:500; margin-bottom:20px;}
.sideMenu ul {width:100%; float:left; }
.sideMenu li {width:100%; float:left; margin-bottom:16.45px;}
.sideMenu a {width:100%; float:left; font-size:17px; font-weight:400; letter-spacing:-0.01px }
.sideMenu a:hover {text-decoration:underline}
    
@media screen and (max-width: 1280px) {
.sideMenu {width:100%; float:none; text-align:center; position:static; top:0; left:0;}
.sideMenu ul {text-align:center;}
.sideMenu li {float:none; display:inline-block; width:auto; margin-right:8px;}
.sideMenu a {float:none;}
.sideMenu a:hover {text-decoration:underline}


}
body {
    color: #1b1c1c;
    font-family: sans-serif;
    
    font-weight: 200;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    line-height: 1.7;
}
.registration-title {
    margin: 60px 0 20px 0;
    text-align: center;

    font-family: 'IBM Plex Sans KR', sans-serif;

    font-size: 14px;
    font-weight: 400;
    color: #666;
}
/* 등록버튼 */
.registration-button {
    width: 100%;
    height: 43.8px;

    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: #222;

    font-family: Arial, Helvetica, sans-serif;

    float: left;
}

.registration-button:hover {
    color: #0f0f0f;
}
/* --------상품목록 리스트----------- */

.col-th {
    
    margin-top: 30px;
}
table {
    
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
colgroup {
    display: table-column-group;
}
.ec-base-table thead th {
    padding: 11px 0 10px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #353535;
    vertical-align: middle;
    font-weight: normal;
    font-size: 15px;
}
form {
    position: relative;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
colgroup {
    display: table-column-group;
}
.ec-base-table.typeList table {
    border-top-color: #d7d5d5;
}
.ec-base-table table {
    position: relative;
    border: 1px solid #d7d5d5;
    border-top-color: #fff;
    color: #fff;
    line-height: 1.5;
}
.ec-base-table .center {
    text-align: center;
}
.ec-base-table.typeList td {
    padding: 8px 10px 7px;
    font-size: 20px;
}
.ec-base-table td {
    padding: 11px 10px 10px;
    border-top: 1px solid #ddd;
    color: #353535;
    vertical-align: middle;
    background: #fff;
}
img {
    width: 120px;
    height: 120px;
}
.btnType-1 {
    position: relative;
    z-index: 100;
    font-size: 10px;
    padding: 3px 10px;
    border: 1px solid #aaa;
    border-radius: 2px;
    color: #777;
}
a {
    text-decoration: none;
    color: black;
}

/* 상품등록 폼 */

.registration-area {
    width: 1000px;
    margin: 0px auto;
    
    font-size: 12px;
}


.registration-container {
    position: relative;
    display: block;
    float: left;

    width: 100%;
    
    border: 1px solid #999;
    border-radius: 5px;

    padding: 30px;
}

.registration-required {
    position: absolute;
    top: 20px;
    right: 30px;

    margin-bottom: 24px;
    font-size: 15px;
}

.registration-required p {
    margin: 0px;
}

th {
    font-weight: 400;
}
product-list-table {
    width: 500px;

    margin: auto;
}
/* =======================search============================= */
.search-area{
    width: 90%;
    margin: 10px auto;
}
.search-box3{
background: #ECDFBF;
overflow: hidden;
padding: 20px;
text-align: center;
}
.search-box3 h1{
text-transform: uppercase;
color: white;
margin: 0;
margin-bottom: 8px;
}
#value{
border: none;
background: #E0D3B6;
padding: 6px;
font-size: 18px;
width: 80%;
border-radius: 6px;
color: white;
}
#value:focus{
outline: none;
}
.search-box2 container{
background: #FFFFF5;
padding: 1%;
}
.search-box2 item{
margin: 3% 0px;
display: flex;
align-items: center;
}
.search-box2 icon{
width: 25px;
height: 25px;
background: #E0D3B6;
color: white;
font-size: 15px;
text-align: center;
line-height: 25px;
border-radius: 50%;
margin-right: 8px;
}
.name{
font-size: 17px;
font-weight: 470;
color: #333;
}