<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_list</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/page_main/js/jquery-1.10.1.min.js" type="text/javascript"></SCRIPT>
    <script src="/static/js/page_main/js/jquery.nicescroll.min.js" type="text/javascript"></SCRIPT>
    <link rel="shortcut icon" href="/static/images/Brand_img/favicon_img.ico">   
    <link rel="stylesheet" href="/static/css/admin/manager/product _list.css">
    <link rel="stylesheet" href="/static/css/admin/manager/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/page_main/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="overlay"></div>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <div class="site-nav-parent">
                                <a href="" class="menu-product">제품</a>
                            </div>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="/templates/page_product/product_all.html">전체</a>
                                    <a href=""><span class="metal-button">메탈</span>
                                        <img src="/static/images/Logo_img/catemetal.jpg"
                                            class="metal-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acetate-button">아세테이트</span>
                                        <img src="/static/images/Logo_img/cateacetate.jpg"
                                            class="acetate-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="combination-button">콤비네이션</span>
                                        <img src="/static/images/Logo_img/cateCombination.jpg"
                                            class="combination-image image-display" alt="">
                                    </a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href=""><span class="refined-button">리파인드</span>
                                        <img src="/static/images/Logo_img/cateRefined.jpg"
                                            class="refined-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="vintage-button">빈티지</span>
                                        <img src="/static/images/Logo_img/cateVintage.jpg"
                                            class="vintage-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="sunglasses-button">선글라스</span>
                                        <img src="/static/images/Logo_img/cateSunglasses.jpg"
                                            class="sunglasses-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acc-button">Acc</span>
                                        <img src="/static/images/Logo_img/cateAcc.jpg" class="acc-image image-display"
                                            alt="">
                                    </a>
                                </div>
                            </nav>
                            <div><a href="/templates/page_campaign/campaign.html" class="">캠페인</a></div>
                            <div><a href="/templates/journal_html/journal.html" class="">저널</a></div>
                            <div><a href="/templates/page_brand/brand-CB.html" class="">브랜드</a></div>
                        </div>
                    </div>
                </div>
                <!-- 로고 -->
                <div class="logo-container">
                    <a href="/templates/page_main/index.html"><img src="/static/images/Logo_img/lash_logo.png" alt=""></a>
                </div>
                <div class="header-right-container">
                    <!-- search -->
                    <div class="search-box">
                        <form action="." method="get">
                            <input class="search-text search-display" type="text" placeholder="">
                            <span class="search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </span>
                        </form>
                    </div>
                    <button class="site-header-button">
                        <a href="/templates/mypage/Myshop.html">My page</a> 
                    </button>
                    <button class="site-header-button"><a href="/templates/login/login.html">Log in</a></button>
                    <button class="site-header-button basket-button"><a
                            href="/templates/shop_basket/MyShoppingBasket.html">My Shopping Basket</a>
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="contents">
        <div class="titleArea">
            <h2>product_list</h2>
        </div>
        <ul class="sideMenu">
            <h2>Account</h2>
            <li><a href="/templates/admin/managerpage/product_registration.html">상품등록</a></li>
            <li><a href="/templates/admin/managerpage/product _list.html">상품관리</a></li>
            <li><a href="">주문배송</a></li>
        </ul>
        <div class="list-area">
            <div class="list-container">
                <div class="ec-base-table typeList">
                    <!-- search -->
                    <section class="search-list">
                        <div class="search-area">
                            <form action="." method="get">
                                <div class="search-box2">
                                    <h1>Search</h1>
                                    <input onkeyup="filter()" type="text" id="value" placeholder="Type to Search">
                                    <td style="border-left: solid 1px #fff; border-right: solid 1px #fff;">
                                        <select id="phone1">
                                            <option value="choose">▼선택</option>
                                            <option value="All">All</option>
                                            <option value="metal">Metal</option>
                                            <option value="acetate">Acetate</option>
                                            <option value="combination">Combination</option>
                                            <option value="refined">Refined</option>
                                            <option value="vintage">Vintage</option>
                                            <option value="sunglasses">Sunglasses</option>
                                            <option value="acc">Acc</option>
                                        </select>
                                    </td>
                                </div>
                            </form> 
                        </div>
                    </section>                  
                    <form class="list-form" action="" method="post">
                        <input id="__product_id" name="__product_id" value="" type="hidden">
                        <input id="__product_img" name="__product_img" value="" type="hidden">
                        <input id="__product_name" name="__product_name" value="" type="hidden">
                        <input id="__product_code" name="__product_code" value="" type="hidden">
                        <input id="__product_price" name="__product_price" value="F" type="hidden">
                        <div class="product-list-table">
                            <table border="1" summary>
                                <colgroup>
                                    <col style="width:120px">
                                    <col style="width:120px">
                                    <col style="width:120px">
                                    <col style="width:120px">
                                    <col style="width:120px">
                                    <col style="width:50px">
                                    <col style="width:50px">
                                </colgroup>
                                <thead class="col-th">
                                    <tr>
                                        <th scope="col">Product_Id</th>
                                        <th scope="col">Product_Img</th>
                                        <th scope="col">Product_Name</th>
                                        <th scope="col">Product_Code</th>
                                        <th scope="col">Product_Price</th>
                                        <th scope="col">수정</th>
                                        <th scope="col">삭제</th>
                                    </tr>
                                </thead>

                                <!-- innerHTML 적용부 -->

                                <tbody class="center">
                                    <!-- <tr class="xans-record-"> 
                                        <td>
                                            ${product.product_id}
                                            <span>031</span>
                                        </td>
                                        <td>
                                            <a href="${path}/shop/product/detail/${row.productId}">
                                                <img src="/static/images/Logo_img/lash_logo.png">
                                            </a>
                                        </td>
                                        <td>
                                            <span>Name</span>
                                        </td>
                                        <td>
                                            <span>code</span>
                                        </td>
                                        <td>
                                            <span>price</span>
                                        </td>
                                        <td>
                                            <a href="/admin/product/update" class="btnType-1">수정</a>
                                        </td>
                                        <td>
                                            <a href="modify.html?ma_idx=717" class="btnType-1">삭제</a>
                                        </td> 
                                    </tr> -->
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/admin/product_list.js"></script>
</body>
</html>
