<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brand</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/brand.css">
</head>

<body>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <a href="" class="site-nav-parent">PRODUCT</a>
                            <a href="" class="">CAMPAIGN</a>
                            <a href="" class="">JOURNAL</a>
                            <a href="" class="">BRAND</a>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <img src="/static/images/Logo_img/lash_logo.png" alt="">
                </div>
                <div class="header-right-container">
                    <button class="site-header-button">SEARCH</button>
                    <button class="site-header-button">My page</button>
                    <button class="site-header-button">Log in</button>
                    <button class="site-header-button basket-button">My Shopping Basket
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="nav-invisible">
            <div class="site-nav-mega">
                <a href="">All</a>
                <a href="">Metal</a>
                <a href="">Acetate</a>
                <a href="">Combination</a>
            </div>
            <div class="site-nav-mega site-nav-mega2">
                <a href="">Refined</a>
                <a href="">Vintage</a>
                <a href="">Sunglasses</a>
                <a href="">Acc</a>
            </div>
        </nav>
        <div id="contents">
            <div>
                <div class="brand-page">
                    <div class="brand-bt">
                        <div class="brand-bt2">
                            <h2>
                                BRAND
                                <br>
                                <span>LASH EYEWEAR</span>
                            </h2>
                            <img src="/static/images/Brand_img/Brand_img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="/static/js/header.js"></script>
</body>

</html>