<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/brand.css">
    <title>| LASH 래쉬 안경테</title>
</head>
<body>
    <div class="brand-page">
        <h2>
            BRAND<br>
        </h2>
        <span style="color:#ccc; font-size:14px; font-weight:400;">LASH EYEWEAR</span>
        <img src="/static/images/Brand_img/Brand_img.png">
        &nbsp;
    </div>

</body>
</html>