<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <aside th:fragment="aside" class="page_main-menus">
        <button class="site-header-button">
            <a href="/templates/mypage/Myshop.html">My page</a> 
        </button>
        <button class="site-header-button">
            <a href="/login">Log out</a>
        </button>
        <button class="site-header-button basket-button">
            <a href="/templates/shop_basket/MyShoppingBasket.html">My Shopping Basket</a>
    </aside>
</body>
</html>