<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lash</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <a href="" class="site-nav-parent">PRODUCT</a>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="">All</a>
                                    <a href="">Metal</a>
                                    <a href="">Acetate</a>
                                    <a href="">Combination</a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href="">Refined</a>
                                    <a href="">Vintage</a>
                                    <a href="">Sunglasses</a>
                                    <a href="">Acc</a>
                                </div>
                            </nav>
                            <a href="" class="">CAMPAIGN</a>
                            <a href="" class="">JOURNAL</a>
                            <a href="/templates/brand.html" class="">BRAND</a>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <img src="/static/images/Logo_img/lash_logo.png" alt="">
                </div>
                <div class="header-right-container">
                    <button class="site-header-button">SEARCH</button>
                    <button class="site-header-button">My page</button>
                    <button class="site-header-button">Log in</button>
                    <button class="site-header-button basket-button">My Shopping Basket
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div id="contents">
        <div class="main-container">
            <div class="banner">
                <img src="/static/images/Logo_img/mainImg.png" alt="">
            </div>
            <div class="main-text">MODERN UNIFORM</div>
            <!-- 슬라이드 -->
            <div class="slide">
                <div class="slide-img"><img src="/static/images/Logo_img/slide01.jpg" alt=""></div>
                <div class="slide-img"><img src="/static/images/Logo_img/slide02.jpg" alt=""></div>
                <div class="slide-img"><img src="/static/images/Logo_img/slide03.jpg" alt=""></div>
                <div class="slide-img"><img src="/static/images/Logo_img/slide04.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <!--    footer   -->
    <footer id="footer" class="footer">
        <div class="footer-sections">
            <div class="footer-section-01">
                <div class="footer-section-01-1">
                    <img src="/static/images/Logo_img/footer_logo.png" alt="">
                </div>
                <div class="footer-section-01-2">
                    <p>Instagram을 팔로우하시면 신상품과 트렌드에 대한 소식을 받으실 수 있습니다.</p>
                    <a href="https://www.instagram.com/lasheyewear_official/">팔로우하기</a>
                </div>
            </div>
            <div class="footer-section-02">
                <a href="https://www.facebook.com/lasheyewearofficial"><img
                        src="/static/images/Logo_img/footer_facebook.png" alt=""></a>
                <a href="https://www.instagram.com/lasheyewear_official/"><img
                        src="/static/images/Logo_img/footer_instagram.png" alt=""></a>
                <a href="https://www.pinterest.co.kr/lasheyewear/"><img
                        src="/static/images/Logo_img/footer_pinterest.png" alt=""></a>
            </div>
            <div class="footer-section-03">빅스타아이엔지 주식회사 | 서울시 성동구 성수이로 7길 7 209호 | 사업자등록번호: 220-88-60430 | 통신판매번호:
                제2017-서울성동-0524호 | 대표자: 김대성 | 고객센터번호:
                02-557-4164 | 이메일: cs@lasheyewear.com</div>
            <div class="footer-section-04">
                호스팅서비스 사업자: Cafe24
            </div>
        </div>
    </footer>

    <script src="/static/js/header.js"></script>
</body>

</html>