.page_main-menus {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.page_main-menus site-header-button {
    margin: 0 10px 0 10px;
    padding: 0;
    width: auto;
    height: 19px;

    font-weight: 600;
    font-size: 1.1rem;

    background-color: #ffffff;
}

.page_main-menus basket-button {
    position: relative;
}

/* .basket-count {
    line-height: 1;
    position: absolute;
    top: -0.4rem;
    right: -1rem;
    font-size: 0.65rem;
    width: 14px;
    height: 14px;
    background-color: #777;
    color: #ffffff;
    border-radius: 50%;
    padding-top: 1.5px;
} */
