

.container {
    background-color: blanchedalmond;
}

.date-search {
    background-color: skyblue;
}

.order-list {
    background-color: pink;
}

.page-movement {
    background-color: lavender;
}