* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

button {
    border: none;

    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style: none;
}