header {
    width: 100px;
    height: 59.6px;

}

.site-header.desktop-view--classic {
    padding: 5px 10px;
}
.site-header.desktop-view--classic {
    z-index: 999;
}
.site-header {
    font-weight: 600;
}
.site-header {
    font-family: Cabin,sans-serif;
    font-weight: 400;
    font-style: normal;
    right: 0;
    padding: 0 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: white;
    color: #1b1c1c;
    border-bottom: 0px solid #ededed;
    z-index: 999;
    font-weight: 700;
    transition: right .5s cubic-bezier(.25,.46,.45,.94);
    top: 0;
    position: fixed;
    align-items: center;
    width: 100%;
}
.header-container {
    position: fixed;
    z-index: 999;
    top: 0px;

    width: 100%;
    height: 58px;

    background-color: #ffffff;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 10px;

    width: 100%;
    height: 58px;
}

.header-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_container {
    width: 323px;
}

.site-nav-menu {
    display: flex;
    align-items: center;

    height: 58px;
}

.site-nav-menu>div {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.site-nav-menu>div>a {
    padding: 0 23px;

    font-size: 1.1rem;
    font-weight: 400;
}

.menu-product {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* header-logo */
.logo-container {
    margin-left: -118px;

    width: 120px;
    height: 28px;

    margin-left: 20px;
}

.logo-container>a>img {
    width: 100%;
    height: 100%;
}


/* right-menu */
.header-right-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.site-header-button {
    margin: 0 0 0 20px;
    padding: 0;
    width: auto;
    height: 19px;

    font-weight: 500;

    background-color: #ffffff;
}

.basket-button {
    position: relative;
}

.basket-count {
    line-height: 1;
    position: absolute;
    top: -0.4rem;
    right: -1rem;
    font-size: 0.65rem;
    width: 14px;
    height: 14px;
    background-color: #777;
    color: #ffffff;
    border-radius: 50%;
    padding-top: 1.5px;
}


/* sub */
nav {
    position: absolute;

    top: 58px;
    left: 0;

    width: 100%;
    height: 323px;

    padding: 70px 0 70px 0;

    z-index: 998;

    background-color: #ffffff;
}

.nav-invisible {
    display: none;
}

.site-nav-mega {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    font-size: 18px;
}

.site-nav-mega>a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    width: 25%;
    height: 80px;
}

.site-nav-mega2>a {
    height: 99px;
}

/* 서브메뉴 카테고리 이미지 */
.site-nav-mega span {
    width: 120px;
    height: 80px;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.metal-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.acetate-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.combination-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.refined-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.vintage-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.sunglasses-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.acc-image {
    width: 125px;
    height: 80px;

    position: absolute;
}

.image-display {
    display: none;
}

/* 나머지 화면 어둡게 */
.overlay {
    display: none;
    z-index: 990;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
}
/*---------------------------본문--------------------------------------------------------------------*/
/* .site-header {
    width: 100%;
    padding: 5px 10px 5px 10px;
    z-index: 999;
    background-color: aqua;

    display: flex;
    justify-content: center;
    align-items: center;
} */
.site-header.fix.animate {
    transform: translateY(0);
}
.site-header.fix.ready {
    transition: right .5s cubic-bezier(.25,.46,.45,.94),transform .1s linear;
}

section {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.content-container li {
    width: 25%;
}
/* .contents {
    margin: 60px 0 0 5px;
} */

.contents {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 60px;
    height: 100%;
    
    min-height: 800px;
    padding-bottom: 0px;

}

.titleArea {
    width: 100%;

    float: left;
    margin-bottom: 20px;
    text-align: center;
}

.titleArea h2 {  
    
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
}


/*---------------------------사이드바--------------------------------------------------------------------*/
.sideMenu {position:fixed; top:125px; left:2.5%; width:10%; float:Left; background:none; }
.sideMenu h2 {font-size:14px; font-weight:500; margin-bottom:20px;}
.sideMenu ul {width:100%; float:left; }
.sideMenu li {width:100%; float:left; margin-bottom:16.45px;}
.sideMenu a {width:100%; float:left; font-size:12.5px; font-weight:400; letter-spacing:-0.01px }
.sideMenu a:hover {text-decoration:underline}
    
@media screen and (max-width: 1280px) {
.sideMenu {width:100%; float:none; text-align:center; position:static; top:0; left:0;}
.sideMenu ul {text-align:center;}
.sideMenu li {float:none; display:inline-block; width:auto; margin-right:8px;}
.sideMenu a {float:none;}
.sideMenu a:hover {text-decoration:underline}
}

/* section {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.content-container li {
    width: 25%;
}
.contents {
    margin: 60px 0 0 5px;
}

.contents {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    
    min-height: 800px;
    padding-bottom: 0px;

} */

/*=======본문===========*/
#modify {
    width: 1000px;
    margin: 0 auto;
}

.ec-base-table-black table {
    position: relative;
    border: 1px solid #333;
    color: #fff;
    line-height: 1.5;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
element.style {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}
.ec-base-table-black.typeWrite th {
    padding: 20px 15px 20px;
}
.ec-base-table-black tbody th {
    padding: 11px 0 10px 18px;
    border: 1px solid #333;
    color: #353535;
    text-align: left;
    font-weight: normal;
    font-size: 15px;
}
.ec-base-table-black.typeWrite td {
    padding: 20px 20px 20px;
}
.ec-base-table-black td {
    padding: 11px 10px 10px;
    border-top: 1px solid #333;
    color: #353535;
    vertical-align: middle;
    background: #fff;
}

input[type=radio] + label, input[type=checkbox] + label {
    font-size: 15px;
    margin: 0 4px 0 2px;
}

#modify input {
    height: 30px !important;
    border: 1px solid #333 !important;
}
.xans-member-edit h3 {
    margin: 50px 0 10px;
    font-size: 16px;
    color: #2e2e2e;
}
.ec-base-table-black.typeWrite td {
    padding: 20px 20px 20px;
}
.ec-base-table-black.typeWrite th {
    padding: 20px 15px 20px;
}
.ec-base-button.justify {
    position: relative;
}
.ec-base-button {
    padding: 10px 0;
    text-align: center;
}
.ec-base-button.justify .gRight {
    position: absolute;
    right: 0;
}
.ec-base-button .gRight {
    float: right;
    text-align: right;
}
.xans-member-edit #phone1, .xans-member-edit #mobile1 {
    width: 60px;
    margin: 0 4px 0 0;
}
#modify select {
    height: 32px !important;
    border: 1px solid #333 !important;
}

