<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <link rel="shortcut icon" href="/src/main/resources/static/images/Brand_img/favicon_img.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/page_product/product_all.css">

    <title>Optical | LASH 래쉬 안경테</title>

</head>

<body>

    <!--========================= header =================================-->

    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <a href="" class="site-nav-parent">PRODUCT</a>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="">All</a>
                                    <a href="">Metal</a>
                                    <a href="">Acetate</a>
                                    <a href="">Combination</a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href="">Refined</a>
                                    <a href="">Vintage</a>
                                    <a href="">Sunglasses</a>
                                    <a href="">Acc</a>
                                </div>
                            </nav>
                            <a href="" class="">CAMPAIGN</a>
                            <a href="" class="">JOURNAL</a>
                            <a href="/templates/brand.html" class="">BRAND</a>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <img src="/static/images/Logo_img/lash_logo.png" alt="">
                </div>
                <div class="header-right-container">
                    <button class="site-header-button">SEARCH</button>
                    <button class="site-header-button">My page</button>
                    <button class="site-header-button">Log in</button>
                    <button class="site-header-button basket-button">My Shopping Basket
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!--======================================================================-->



    <!-- 
        
        11/10(목) 문제점
        같은 class 명 사용하고 있기 때문에 마우스오버 시 다른 제품 이미지에도 영향

     -->


    <section>
        
        <div class="product-container">

            <div class="product-first-img">
                <img src="/static/images/product_img/product_first_img/all.png">
                <div></div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter hunter-c1">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg">
                    </div>
                    <div class="product-hunter hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div>
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>

                                             <!--  ▼ class="hunter-color" 는 동작 임시 확인용  -->
                    <div class="product-info-color hunter-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Combination_img/Combination_Holden_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HOLDEN</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>

            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Combination_img/Combination_Henry_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HENRY</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-container">

            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Refined_img/Refined_Larch_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>LARCH</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Refined_img/Refined_Kauri_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>KAURI</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Sunglasses_img/Sunglasses_glow_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>GLOW</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>

            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Sunglasses_img/Sunglasses_Tim_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>TIM</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <script src="/static/js/header.js"></script>
    <script src="/static/js/page_product/product_all.js"></script>
    
</body>

</html>