<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/page_main/header.css">
    <link rel="stylesheet" href="/static/css/page_product/product_all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/static/images/Brand_img/favicon_img.ico">
    
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/page_main/js/jquery-1.10.1.min.js" type="text/javascript"></SCRIPT>
    <script src="/static/js/page_main/js/jquery.nicescroll.min.js" type="text/javascript"></SCRIPT>
    
    <title>Optical | LASH 래쉬 안경테</title>
</head>

<body>
    <!--============================== header 공통부 ==============================-->
    <div class="overlay"></div>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <div class="site-nav-parent">
                                <a href="" class="menu-product">제품</a>
                            </div>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="/products/all">전체</a>
                                    <a href=""><span class="metal-button">메탈</span>
                                        <img src="/static/images/Logo_img/catemetal.jpg"
                                            class="metal-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acetate-button">아세테이트</span>
                                        <img src="/static/images/Logo_img/cateacetate.jpg"
                                            class="acetate-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="combination-button">콤비네이션</span>
                                        <img src="/static/images/Logo_img/cateCombination.jpg"
                                            class="combination-image image-display" alt="">
                                    </a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href=""><span class="refined-button">리파인드</span>
                                        <img src="/static/images/Logo_img/cateRefined.jpg"
                                            class="refined-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="vintage-button">빈티지</span>
                                        <img src="/static/images/Logo_img/cateVintage.jpg"
                                            class="vintage-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="sunglasses-button">선글라스</span>
                                        <img src="/static/images/Logo_img/cateSunglasses.jpg"
                                            class="sunglasses-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acc-button">Acc</span>
                                        <img src="/static/images/Logo_img/cateAcc.jpg" class="acc-image image-display"
                                            alt="">
                                    </a>
                                </div>
                            </nav>
                            <div><a href="/campaign" class="">캠페인</a></div>
                            <div><a href="/journal" class="">저널</a></div>
                            <div><a href="/brand" class="">브랜드</a></div>
                        </div>
                    </div>
                </div>
                <!-- 로고 -->
                <div class="logo-container">
                    <a href="/index"><img src="/static/images/Logo_img/lash_logo.png" alt=""></a>
                </div>
                <div class="header-right-container">
                    <!-- search -->
                    <div class="search-box">
                        <form action="." method="get">
                            <input class="search-text search-display" type="text" placeholder="">
                            <span class="search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </span>
                        </form>
                    </div>
                    <button class="site-header-button">
                        <a href="/account/mypage">My page</a> 
                    </button>
                    <button class="site-header-button"><a href="/account/login">Log in</a></button>
                    <button class="site-header-button basket-button"><a
                            href="/shopping-basket">My Shopping Basket</a>
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!--============================== header 공통부 ==============================-->


    <!-- 
        
        11/10(목) 문제점
        같은 class 명 사용하고 있기 때문에 마우스오버 시 다른 제품 이미지에도 영향

     -->

    <section>
        
        <div class="product-container">

            <div class="product-first-img">
                <img src="/static/images/product_img/product_first_img/all.png">
                <div></div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter hunter-c1">
                        
                        <!-- 상세페이지 연결 a태그 (임시) -->
                        <a href="/templates/page_product/product_detail.html">
                            <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg">
                        </a>

                    </div>
                    <div class="product-hunter hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div>
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>

                                             <!--  ▼ class="hunter-color" 는 동작 임시 확인용  -->
                    <div class="product-info-color hunter-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Combination_img/Combination_Holden_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HOLDEN</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>

            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Combination_img/Combination_Henry_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HENRY</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-container">

            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Refined_img/Refined_Larch_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>LARCH</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Refined_img/Refined_Kauri_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>KAURI</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Sunglasses_img/Sunglasses_glow_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>GLOW</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>

            <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter1 hunter-c1">
                        <img src="/static/images/product_img/Sunglasses_img/Sunglasses_Tim_C1.jpg">
                    </div>
                <!-- 
                    <div class="product-hunter1 hunter-c2">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c3">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter1 hunter-c4">
                        <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div> 
                -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>TIM</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <script src="/static/js/header.js"></script>
    <script src="/static/js/page_product/product_all.js"></script>
    
</body>

</html>