<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/page_product/product_all.css">

    <title>Product_All</title>
</head>

<body>

    <!-- header -->

    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <a href="" class="site-nav-parent">PRODUCT</a>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="">All</a>
                                    <a href="">Metal</a>
                                    <a href="">Acetate</a>
                                    <a href="">Combination</a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href="">Refined</a>
                                    <a href="">Vintage</a>
                                    <a href="">Sunglasses</a>
                                    <a href="">Acc</a>
                                </div>
                            </nav>
                            <a href="" class="">CAMPAIGN</a>
                            <a href="" class="">JOURNAL</a>
                            <a href="/templates/brand.html" class="">BRAND</a>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <img src="/static/images/Logo_img/lash_logo.png" alt="">
                </div>
                <div class="header-right-container">
                    <button class="site-header-button">SEARCH</button>
                    <button class="site-header-button">My page</button>
                    <button class="site-header-button">Log in</button>
                    <button class="site-header-button basket-button">My Shopping Basket
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="product-container">

            <div class="product-first-img">
                <img src="/static/images/product_img/product_first_img/all.png">
                <div></div>
            </div>
            

            <!-- 11/8(화) mouseover event 적용해야함 -->

            
            <div class="product-list">
                <div class="product-list-img">
                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg" class="hunter-c1">
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg" class="hunter-c2"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg" class="hunter-c3"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg" class="hunter-c4"> -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg" class="hunter-c1">
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg" class="hunter-c2"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg" class="hunter-c3"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg" class="hunter-c4"> -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>

            <div class="product-list">
                <div class="product-list-img">
                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg" class="hunter-c1">
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg" class="hunter-c2"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg" class="hunter-c3"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg" class="hunter-c4"> -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="product-container">

            <div class="product-list">
                <div class="product-list-img">
                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg" class="hunter-c1">
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg" class="hunter-c2"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg" class="hunter-c3"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg" class="hunter-c4"> -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg" class="hunter-c1">
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg" class="hunter-c2"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg" class="hunter-c3"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg" class="hunter-c4"> -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="product-list">
                <div class="product-list-img">
                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg" class="hunter-c1">
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg" class="hunter-c2"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg" class="hunter-c3"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg" class="hunter-c4"> -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>

            <div class="product-list">
                <div class="product-list-img">
                    <img src="/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg" class="hunter-c1">
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C2.jpg" class="hunter-c2"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C3.jpg" class="hunter-c3"> -->
                    <!-- <img src="/static/images/product_img/Combination_img/Combination_Hunter_C4.jpg" class="hunter-c4"> -->
                </div>
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p>HUNTER</p>
                        <p>245,000</p>
                    </div>
                    <div class="product-info-color">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/static/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div>
        </div>

        
    </section>

    <script src="/static/js/header.js"></script>
    
</body>

</html>