<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic%7CRoboto:400,900italic,700italic,500italic,400italic,300italic,100italic,900,700,500,300,100%7CLato:400,100,300,700,900,300italic,400italic,700italic,900italic,100italic%7CRoboto+Condensed:400,700italic,400italic,300italic,700,300%7CRaleway:400,900italic,800italic,700italic,600italic,500italic,400italic,300italic,200italic,100italic,800,900,700,600,500,300,200,100%7CNoto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="/src/main/resources/static/images/Brand_img/favicon_img.ico">
    <title>HUNTER C1 | 래쉬 안경테</title>

    <link rel="stylesheet" href="/src/main/resources/static/css/page_product/product_detail.css">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
    <header>
        
    </header>
    <div class="contents">
        <section class="img-scroll">
            <img src="/src/main/resources/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg">
            <img src="/src/main/resources/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg">
            <img src="/src/main/resources/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg">
            <img src="/src/main/resources/static/images/product_img/Combination_img/Combination_Hunter_C1.jpg">
        </section>
        
        <section class="sidebar">
            <div class="pd-info">
                <div class="pd_name">HUNTER C1</div>
                <div class="pd_price">KRW 245,000</div>
                <div class="more_color_text">MORE COLORS</div>
                <div class="more_color"></div>
            </div>
        
        </section>

    </div>
    
</body>
</html>