<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="/static/css/page_campaign/lookbook.css">
    <link rel="stylesheet" href="/static/css/page_campaign/campaign_lookbook10.css">

    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>campaign_lookbook10</title>
</head>
<body>

    <!-- header -->
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <a href="" class="site-nav-parent">PRODUCT</a>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="">All</a>
                                    <a href="">Metal</a>
                                    <a href="">Acetate</a>
                                    <a href="">Combination</a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href="">Refined</a>
                                    <a href="">Vintage</a>
                                    <a href="">Sunglasses</a>
                                    <a href="">Acc</a>
                                </div>
                            </nav>
                            <a href="" class="">CAMPAIGN</a>
                            <a href="" class="">JOURNAL</a>
                            <a href="/templates/brand.html" class="">BRAND</a>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <img src="/static/images/Logo_img/lash_logo.png" alt="">
                </div>
                <div class="header-right-container">
                    <button class="site-header-button">SEARCH</button>
                    <button class="site-header-button">My page</button>
                    <button class="site-header-button">Log in</button>
                    <button class="site-header-button basket-button">My Shopping Basket
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!--===================================================================================-->
    <div class="lookbook-detail-top">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_1.jpg">
        <div class="lookbook-top-title">2022 Refined</div>
    </div>
    
    <div class="lookbook-detail-content">
        <div class="new-line"><br><br><br><br><br><br></div>
        <div class="lookbook-detail-title">
            <span>lash 2022 Refined</span>
        </div>

        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_2.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_3.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_4.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_5.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_6.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_7.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_8.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_9.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_10.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_11.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_12.jpg" alt="">
   
        <div class="lookbook-detail-bottom">
            <div class="bottom-left-area">
                <!-- a 태그 수정(삭제) 해야함 - 페이지 이동 확인용임) -->
                <div class="bottom-list-button">
                    <a href="/templates/page_campaign/campaign.html">
                        BACK TO LIST
                    </a>
                </div>
            </div>
            <div class="bottom-right-area"></div>
        </div>
    </div>

    <script src="/static/js/header.js"></script>
    <script src="/static/js/page_campaign/campaign_lookbook.js"></script>

</body>
</html>