<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/page_campaign/campaign.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="shortcut icon" href="/static/images/Brand_img/favicon_img.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/page_main/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/static/images/Brand_img/favicon_img.ico">        
    
    <script src="/static/js/page_main/js/jquery-1.10.1.min.js" type="text/javascript"></SCRIPT>
    <script src="/static/js/page_main/js/jquery.nicescroll.min.js" type="text/javascript"></SCRIPT>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <title>LASH 래쉬 | 안경테</title>
</head>
<body>
    <!--============================== header 공통부 ==============================-->
    <div class="overlay"></div>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <div class="site-nav-parent">
                                <a href="" class="menu-product">제품</a>
                            </div>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="/products/all">전체</a>
                                    <a href=""><span class="metal-button">메탈</span>
                                        <img src="/static/images/Logo_img/catemetal.jpg"
                                            class="metal-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acetate-button">아세테이트</span>
                                        <img src="/static/images/Logo_img/cateacetate.jpg"
                                            class="acetate-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="combination-button">콤비네이션</span>
                                        <img src="/static/images/Logo_img/cateCombination.jpg"
                                            class="combination-image image-display" alt="">
                                    </a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href=""><span class="refined-button">리파인드</span>
                                        <img src="/static/images/Logo_img/cateRefined.jpg"
                                            class="refined-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="vintage-button">빈티지</span>
                                        <img src="/static/images/Logo_img/cateVintage.jpg"
                                            class="vintage-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="sunglasses-button">선글라스</span>
                                        <img src="/static/images/Logo_img/cateSunglasses.jpg"
                                            class="sunglasses-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acc-button">Acc</span>
                                        <img src="/static/images/Logo_img/cateAcc.jpg" class="acc-image image-display"
                                            alt="">
                                    </a>
                                </div>
                            </nav>
                            <div><a href="/campaign" class="">캠페인</a></div>
                            <div><a href="/journal" class="">저널</a></div>
                            <div><a href="/brand" class="">브랜드</a></div>
                        </div>
                    </div>
                </div>
                <!-- 로고 -->
                <div class="logo-container">
                    <a href="/index"><img src="/static/images/Logo_img/lash_logo.png" alt=""></a>
                </div>
                <div class="header-right-container">
                    <!-- search -->
                    <div class="search-box">
                        <form action="." method="get">
                            <input class="search-text search-display" type="text" placeholder="">
                            <span class="search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </span>
                        </form>
                    </div>
                    <button class="site-header-button">
                        <a href="/account/mypage">My page</a> 
                    </button>
                    <button class="site-header-button"><a href="/account/login">Log in</a></button>
                    <button class="site-header-button basket-button"><a
                            href="/shopping-basket">My Shopping Basket</a>
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!--============================== header 공통부 ==============================-->
    
    <section>
        <div class="content-container">
            <li>
                <div class="content-row">
                    <a href="/templates/page_campaign/campaign_lookbook10.html">
                        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_1.jpg">
                    </a>
                    <div class="content-title"><span>2022 Refined</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign02_img/Campaign02_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE EDITION EDITORIAL <br> PORTRAIT</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign03_img/Campaign03_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE EDITION 'Lee Dong Hwi' <br>EDITORIAL</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign04_img/Campaign04_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE 2ND BIKE LOOKBOOK</span></div>
                </div>
            </li>
        </div>
        <div class="content-container">
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign05_img/Campaign05_1.jpg">
                    <div class="content-title"><span>22 COLLECTION 'MODERN UNIFORM'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign06_img/Campaign06_1.jpg">
                    <div class="content-title"><span>2021 SPECIAL EDITION 'Refined'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign07_img/Campaign07_1.jpg">
                    <div class="content-title"><span>AMERICAN VINTAGE EDITION <br> 'RETROSPECT X RED STRIPE <br> BARBERSHOP'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row" >
                    <img src="/static/images/Campaign_img/Campaign08_img/Campaign08_1.jpg">
                    <div class="content-title"><span>21S/S COLLECTION 'FRAME UNIFORM'</span></div>
                </div>
            </li>
        </div>
        <div class="content-container">
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign09_img/Campaign09_1.jpg">
                    <div class="content-title"><span>20A/W COLLECTION 'FRAME UNIFORM'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <!-- a 태그 수정(삭제) 해야함 - 페이지 이동 확인용임) -->
                    <a href="/templates/page_campaign/campaign_lookbook1.html"><img src="/static/images/Campaign_img/Campaign10_img/Campaign10_1.jpg"></a>
                    <div class="content-title"><span>2019 COLLECTION 'LASH, Special <br> Moments'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                </div>
            </li>
            <li>
                <div class="content-row">
                </div>
            </li>
        </div>

        <script src="/static/js/header.js"></script>
    </section>
</body>
</html>