<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/page_main/header.css">
    <link rel="stylesheet" href="/static/css/page_campaign/lookbook.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/static/images/Brand_img/favicon_img.ico">     
    
    <script src="/static/js/page_main/js/jquery-1.10.1.min.js" type="text/javascript"></SCRIPT>
    <script src="/static/js/page_main/js/jquery.nicescroll.min.js" type="text/javascript"></SCRIPT>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <title>2019 COLLECTION 'LASH, Special Moments' | 래쉬 안경테</title>
</head>
<body>
    <!--============================== header 공통부 ==============================-->
    <div class="overlay"></div>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <div class="site-nav-parent">
                                <a href="" class="menu-product">제품</a>
                            </div>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="/products/all">전체</a>
                                    <a href=""><span class="metal-button">메탈</span>
                                        <img src="/static/images/Logo_img/catemetal.jpg"
                                            class="metal-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acetate-button">아세테이트</span>
                                        <img src="/static/images/Logo_img/cateacetate.jpg"
                                            class="acetate-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="combination-button">콤비네이션</span>
                                        <img src="/static/images/Logo_img/cateCombination.jpg"
                                            class="combination-image image-display" alt="">
                                    </a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href=""><span class="refined-button">리파인드</span>
                                        <img src="/static/images/Logo_img/cateRefined.jpg"
                                            class="refined-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="vintage-button">빈티지</span>
                                        <img src="/static/images/Logo_img/cateVintage.jpg"
                                            class="vintage-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="sunglasses-button">선글라스</span>
                                        <img src="/static/images/Logo_img/cateSunglasses.jpg"
                                            class="sunglasses-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acc-button">Acc</span>
                                        <img src="/static/images/Logo_img/cateAcc.jpg" class="acc-image image-display"
                                            alt="">
                                    </a>
                                </div>
                            </nav>
                            <div><a href="/campaign" class="">캠페인</a></div>
                            <div><a href="/journal" class="">저널</a></div>
                            <div><a href="/brand" class="">브랜드</a></div>
                        </div>
                    </div>
                </div>
                <!-- 로고 -->
                <div class="logo-container">
                    <a href="/index"><img src="/static/images/Logo_img/lash_logo.png" alt=""></a>
                </div>
                <div class="header-right-container">
                    <!-- search -->
                    <div class="search-box">
                        <form action="." method="get">
                            <input class="search-text search-display" type="text" placeholder="">
                            <span class="search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </span>
                        </form>
                    </div>
                    <button class="site-header-button">
                        <a href="/account/mypage">My page</a> 
                    </button>
                    <button class="site-header-button"><a href="/account/login">Log in</a></button>
                    <button class="site-header-button basket-button"><a
                            href="/shopping-basket">My Shopping Basket</a>
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!--============================== header 공통부 ==============================-->
    
    <div class="lookbook-detail-top">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_1.jpg">
        <div class="lookbook-top-title">2019 COLLECTION 'LASH, Special Moments'</div>
    </div>
   
    <div class="lookbook-detail-content">
        <div class="new-line"><br><br><br><br><br></div>
        <div class="lookbook-detail-title">
            <span>LASH F/W 2019 COLLECTION 'LASH, Special Moments'</span>
        </div>
        <div class="lookbook-detail-text">
            <span>배우 봉태규의 특별한 순간이 담긴 래쉬의<br>
                2019 F/W 캠페인 'LASH, Special Moments'는 <br>
                클래식한 무드에 레트로한 감성을 덧칠해 완성했다. <br>
                자신만의 비밀스러운 특별한 순간을 위한 남자의 준비 과정, <br>
                그리고 그 속에 아이웨어를 강조해 담아냈다. 
            </span>
        </div>

        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_2.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_3.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_4.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_5.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_6.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_7.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_8.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_9.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_10.jpg" alt="">
   
        <div class="lookbook-detail-bottom">
            <div class="bottom-left-area">
                <!-- a 태그 수정(삭제) 해야함 - 페이지 이동 확인용임) -->
                <div class="bottom-list-button">
                    <a href="/templates/page_campaign/campaign.html">
                        BACK TO LIST
                    </a>
                </div>
            </div>
            <div class="bottom-right-area"></div>
        </div>
    </div>

    <script src="/static/js/header.js"></script>
    <script src="/static/js/page_campaign/campaign_lookbook.js"></script>
</body>
</html>