<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/campaign_lookbook1.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>campaign_lookbook1</title>
</head>
<body>



    <!---------------------  대체할 부분 -------------------------->
    <header>
        <div class="header-container">
            nav메뉴 / 로고 / mypage 등 
        </div>
    </header>
    <!------------------------------------------------------------->



    <!-- 

        11/4(금) 기준 
        
        - scroll event 미완성
        - 페이지 연결 미완성
        - header 교체 미완성

        - campaign 전체 list 페이지는 작성 완료,
        - detail page는 한 페이지만 완료

    -->
    

    <div class="lookbook-detail-top">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_1.jpg" alt="">
        <div class="lookbook-title">2019 COLLECTION 'LASH, Special Moments'</div>
    </div>

    <div class="lookbook-detail-content">
        <div class="new-line"><br><br><br><br><br></div>
        <div class="lookbook-detail-title">
            <span>LASH F/W 2019 COLLECTION 'LASH, Special Moments'</span>
        </div>
        <div class="lookbook-detail-text">
            <span>배우 봉태규의 특별한 순간이 담긴 래쉬의<br>
                2019 F/W 캠페인 'LASH, Special Moments'는 <br>
                클래식한 무드에 레트로한 감성을 덧칠해 완성했다. <br>
                자신만의 비밀스러운 특별한 순간을 위한 남자의 준비 과정, <br>
                그리고 그 속에 아이웨어를 강조해 담아냈다. 
            </span>
        </div>

        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_2.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_3.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_4.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_5.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_6.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_7.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_8.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_9.jpg" alt="">
        <img src="/static/images/Campaign_img/Campaign10_img/Campaign10_10.jpg" alt="">
   
        <div class="lookbook-detail-bottom">
            <div class="bottom-left-area">
                <!-- a 태그 수정(삭제) 해야함 - 페이지 이동 확인용임) -->
                <div class="bottom-list-button">
                    <a href="/templates/campaign.html">
                        BACK TO LIST
                    </a>
                </div>
            </div>
            <div class="bottom-right-area"></div>
        </div>
    </div>

    
</body>
</html>