<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/page_campaign/campaign.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">

    
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <link rel="shortcut icon" href="/src/main/resources/static/images/Brand_img/favicon_img.ico">
    <title>LASH 래쉬 | 안경테</title>
</head>
<body>

    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <a href="" class="site-nav-parent">PRODUCT</a>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="">All</a>
                                    <a href="">Metal</a>
                                    <a href="">Acetate</a>
                                    <a href="">Combination</a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href="">Refined</a>
                                    <a href="">Vintage</a>
                                    <a href="">Sunglasses</a>
                                    <a href="">Acc</a>
                                </div>
                            </nav>
                            <a href="" class="">CAMPAIGN</a>
                            <a href="" class="">JOURNAL</a>
                            <a href="/templates/brand.html" class="">BRAND</a>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <img src="/static/images/Logo_img/lash_logo.png" alt="">
                </div>
                <div class="header-right-container">
                    <button class="site-header-button">SEARCH</button>
                    <button class="site-header-button">My page</button>
                    <button class="site-header-button">Log in</button>
                    <button class="site-header-button basket-button">My Shopping Basket
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="content-container">
            <li>
                <div class="content-row">
                    <a href="/templates/page_campaign/campaign_lookbook10.html">
                        <img src="/static/images/Campaign_img/Campaign01_img/Campaign01_1.jpg">
                    </a>
                    <div class="content-title"><span>2022 Refined</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign02_img/Campaign02_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE EDITION EDITORIAL <br> PORTRAIT</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign03_img/Campaign03_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE EDITION 'Lee Dong Hwi' <br>EDITORIAL</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign04_img/Campaign04_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE 2ND BIKE LOOKBOOK</span></div>
                </div>
            </li>
        </div>
        <div class="content-container">
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign05_img/Campaign05_1.jpg">
                    <div class="content-title"><span>22 COLLECTION 'MODERN UNIFORM'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign06_img/Campaign06_1.jpg">
                    <div class="content-title"><span>2021 SPECIAL EDITION 'Refined'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign07_img/Campaign07_1.jpg">
                    <div class="content-title"><span>AMERICAN VINTAGE EDITION <br> 'RETROSPECT X RED STRIPE <br> BARBERSHOP'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row" >
                    <img src="/static/images/Campaign_img/Campaign08_img/Campaign08_1.jpg">
                    <div class="content-title"><span>21S/S COLLECTION 'FRAME UNIFORM'</span></div>
                </div>
            </li>
        </div>
        <div class="content-container">
            <li>
                <div class="content-row">
                    <img src="/static/images/Campaign_img/Campaign09_img/Campaign09_1.jpg">
                    <div class="content-title"><span>20A/W COLLECTION 'FRAME UNIFORM'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <!-- a 태그 수정(삭제) 해야함 - 페이지 이동 확인용임) -->
                    <a href="/templates/page_campaign/campaign_lookbook1.html"><img src="/static/images/Campaign_img/Campaign10_img/Campaign10_1.jpg"></a>
                    <div class="content-title"><span>2019 COLLECTION 'LASH, Special <br> Moments'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                </div>
            </li>
            <li>
                <div class="content-row">
                </div>
            </li>
        </div>
    </section>
</body>
</html>