<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko"class=" wf-nimbus-sans-n4-active wf-nimbus-sans-i4-active wf-nimbus-sans-n7-active wf-nimbus-sans-i7-active wf-nimbus-sans-condensed-n4-active wf-nimbus-sans-condensed-n7-active wf-nimbus-sans-extended-n4-active wf-nimbus-sans-extended-n7-active wf-adobe-myungjo-std-n5-active wf-bookmania-i7-active wf-bookmania-n7-active wf-bookmania-i4-active wf-bookmania-n4-active wf-din-2014-n2-active wf-din-2014-i2-active wf-din-2014-n3-active wf-din-2014-i3-active wf-din-2014-i4-active wf-din-2014-n4-active wf-din-2014-n6-active wf-din-2014-i6-active wf-din-2014-i7-active wf-din-2014-n7-active wf-din-2014-n8-active wf-din-2014-i8-active wf-din-2014-narrow-n4-active wf-din-2014-narrow-n7-active wf-active">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>journal</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/page_main/js/jquery-1.10.1.min.js" type="text/javascript"></SCRIPT>
    <script src="/static/js/page_main/js/jquery.nicescroll.min.js" type="text/javascript"></SCRIPT>
    <link rel="shortcut icon" href="/static/images/Brand_img/favicon_img.ico">   
    <link rel="stylesheet" href="/static/css/journal/journal.css">
    <link rel="stylesheet" href="/static/css/journal/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/page_main/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="overlay"></div>
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <div class="site-nav-parent">
                                <a href="" class="menu-product">제품</a>
                            </div>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="/templates/page_product/product_all.html">전체</a>
                                    <a href=""><span class="metal-button">메탈</span>
                                        <img src="/static/images/Logo_img/catemetal.jpg"
                                            class="metal-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acetate-button">아세테이트</span>
                                        <img src="/static/images/Logo_img/cateacetate.jpg"
                                            class="acetate-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="combination-button">콤비네이션</span>
                                        <img src="/static/images/Logo_img/cateCombination.jpg"
                                            class="combination-image image-display" alt="">
                                    </a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href=""><span class="refined-button">리파인드</span>
                                        <img src="/static/images/Logo_img/cateRefined.jpg"
                                            class="refined-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="vintage-button">빈티지</span>
                                        <img src="/static/images/Logo_img/cateVintage.jpg"
                                            class="vintage-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="sunglasses-button">선글라스</span>
                                        <img src="/static/images/Logo_img/cateSunglasses.jpg"
                                            class="sunglasses-image image-display" alt="">
                                    </a>
                                    <a href=""><span class="acc-button">Acc</span>
                                        <img src="/static/images/Logo_img/cateAcc.jpg" class="acc-image image-display"
                                            alt="">
                                    </a>
                                </div>
                            </nav>
                            <div><a href="/templates/page_campaign/campaign.html" class="">캠페인</a></div>
                            <div><a href="/templates/journal_html/journal.html" class="">저널</a></div>
                            <div><a href="/templates/page_brand/brand-CB.html" class="">브랜드</a></div>
                        </div>
                    </div>
                </div>
                <!-- 로고 -->
                <div class="logo-container">
                    <a href="/templates/page_main/index.html"><img src="/static/images/Logo_img/lash_logo.png" alt=""></a>
                </div>
                <div class="header-right-container">
                    <!-- search -->
                    <div class="search-box">
                        <form action="." method="get">
                            <input class="search-text search-display" type="text" placeholder="">
                            <span class="search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </span>
                        </form>
                    </div>
                    <button class="site-header-button">
                        <a href="/templates/mypage/Myshop.html">My page</a> 
                    </button>
                    <button class="site-header-button"><a href="/templates/login/login.html">Log in</a></button>
                    <button class="site-header-button basket-button"><a
                            href="/templates/shop_basket/MyShoppingBasket.html">My Shopping Basket</a>
                        <span class="basket-count">0</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="contents">
        <div class="xans-element- xans-product xans-product-normalpackage ">
            <div class="xans-element- xans-product xans-product-listnormal">
                <ul class="journal-masonry">
                    <li id="anchorBoxId_1912" class="journal-item xans-record-1">
                        <div class="thumbnail">
                            <div class="prdImg">
                                <a href="/templates/journal_html/wooz_store.html" name="anchorBoxName_1912">
                                    <img src="//www.lasheyewear.com/web/product/medium/202211/3bae0eb147f4555d4c81e6900a494984.jpg" id="eListPrdImage1912_1" alt="WOOZ STORE LASH 래쉬 안경테 선글라스">
                                </a>
                            </div>
                        </div>
                        <div class="description">
                            <strong class="name">
                                <a href="/templates/journal_html/wooz_store.html" class="">
                                    <span style="font-size:16px;color:#000000;">WOOZ STORE</span>
                                </a>
                            </strong>
                            <p style="margin-top: 0px;">2020년 9월에 오픈한 안경원입니다. 하우스 브랜드를 전문으로 다루고, 칼자이스 i-profiler, 에실로 eye-ruler 등 검안 장비에도 신경쓰고있으며 안경에 가장 기본이되는 검안과 피팅을 중요시하고 있습니다.</p>
                            <a href="/templates/journal_html/wooz_store.html">READ MORE</a>
                        </div>
                    </li>
                    <li id="anchorBoxId_1911" class="journal-item xans-record-2">
                        <div class="thumbnail">
                            <div class="prdImg">
                                <a href="/templates/journal_html/lash_brand_showcase.html" name="anchorBoxName_1911">
                                    <img src="//www.lasheyewear.com/web/product/medium/202211/e22d23dd1fe4f135b5e1644fd5130724.jpg" id="eListPrdImage1911_1" alt="LASH BRAND SHOWCASE LASH 래쉬 안경테 선글라스">
                                </a>
                            </div>
                        </div>
                        <div class="description">
                            <strong class="name">
                                <a href="/templates/journal_html/lash_brand_showcase.html" class="">
                                    <span style="font-size:16px;color:#000000;">LASH BRAND SHOWCASE</span>
                                </a>
                            </strong>
                            <p style="margin-top: 0px;">래쉬아이웨어의 첫 공식 오프라인 행사인 2023 뉴 컬렉션 브랜드 쇼케이스.</p>
                            <a href="/templates/journal_html/lash_brand_showcase.html">READ MORE</a>
                        </div>
                    </li>
                    <li id="anchorBoxId_1910" class="journal-item xans-record-3">
                        <div class="thumbnail">
                            <div class="prdImg">
                                <a href="/templates/journal_html/d_classic_store.html" name="anchorBoxName_1910">
                                    <img src="//www.lasheyewear.com/web/product/medium/202211/9432b0566d9c0eb350623087240d7bae.jpg" id="eListPrdImage1910_1" alt="D CLASSIC STORE LASH 래쉬 안경테 선글라스">
                                </a>
                            </div>
                        </div>
                        <div class="description">
                            <strong class="name">
                                <a href="/templates/journal_html/d_classic_store.html" class="">
                                    <span style="font-size:16px;color:#000000;">D CLASSIC STORE</span>
                                </a>
                            </strong>
                            <p style="margin-top: 0px;">우드와 화이트톤을 사용하여 전반적으로 따뜻하고 차분한 분위기를 연출했으며, 편하게 앉아 서로 대화를 통해 원하는 안경을 찾을 수 있게끔 조성된 디클래식 안경원.</p>
                            <a href="/templates/journal_html/d_classic_store.html">READ MORE</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/static/js/header.js"></script>
</body>
</html>